html, body {
    position: relative;
    overflow-x: hidden !important;
}
body {
    font-family: 'Quicksand', sans-serif;
    color: #324e63;
    margin: 0;
}
a:hover {
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
* {
    box-sizing: border-box;
}
.wrapper {
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 100px 20px 50px;
    display: flex;
    background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%);
}
@media screen and (max-width: 768px) {
    .wrapper {
        height: auto;
        padding-top: 100px;
    }
}
.profile-card {
    width: 100%;
    min-height: 460px;
    margin: 4vh auto;
    box-shadow: 0 8px 60px -10px rgba(0, 0, 0, 0.6);
    background: #fff;
    border-radius: 12px;
    max-width: 800px;
    position: relative;
}
.profile-card__img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 0 5px 50px 0 rgba(108, 68, 252, 0.5);
    border: 5px solid #5604ef;
}
@media screen and (max-width: 576px) {
    .profile-card__img {
        width: 120px;
        height: 120px;
    }
}
.profile-card__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.profile-card__cnt {
    margin-top: -55px;
    text-align: center;
    padding: 0 20px 40px;
    transition: all 0.3s;
}
.profile-card__name {
    font-family: 'Pacifico', 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 34px;
    color: #6944ff;
    margin-bottom: 16px;
}
.profile-card__txt {
    font-size: 20px;
    font-weight: 500;
    color: #324e63;
    margin-bottom: 15px;
}
.profile-card__txt strong {
    font-weight: 700;
}
.profile-card-loc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}
.profile-card-loc__icon {
    display: inline-flex;
    font-size: 27px;
    margin-right: 10px;
}
.profile-card-loc__txt {
    font-size: 18px;
}
.profile-card-inf {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 35px;
}
.profile-card-inf__item {
    padding: 10px 35px;
    min-width: 150px;
}
@media screen and (max-width: 768px) {
    .profile-card-inf__item {
        padding: 10px 20px;
        min-width: 120px;
    }
}
.profile-card-inf__title {
    font-weight: 700;
    font-size: 27px;
    color: #324e63;
}
.profile-card-inf__txt {
    font-weight: 500;
    font-size: 18px;
    margin-top: 7px;
}
.profile-card-social {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.profile-card-social__item {
    display: inline-flex;
    width: 55px;
    height: 55px;
    margin: 15px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #405de6;
    box-shadow: 0 7px 30px rgba(67, 68, 150, 0.5);
    position: relative;
    font-size: 26px;
    flex-shrink: 0;
    transition: all 0.3s;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .profile-card-social__item {
        width: 50px;
        height: 50px;
        margin: 10px;
    }
}
@media screen and (min-width: 768px) {
    .profile-card-social__item:hover {
        transform: scale(1.2);
    }
}
.profile-card-social__item.facebook {
    background: linear-gradient(45deg, #3b5998, #0078d7);
    box-shadow: 0 4px 30px rgba(67, 68, 150, 0.5);
}
.profile-card-social__item.twitter {
    background: linear-gradient(45deg, #1da1f2, #0e71c8);
    box-shadow: 0 4px 30px rgba(29, 161, 242, 0.7);
}
.profile-card-social__item.instagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    box-shadow: 0 4px 30px rgba(120, 64, 190, 0.6);
}
.profile-card-social__item.telegram {
    background: linear-gradient(45deg, #029047, #04b433);
    box-shadow: 0 4px 30px rgba(27, 118, 35, 0.7);
}
.profile-card-social__item.email {
    background: linear-gradient(45deg, #fb9200, #d7c600);
    box-shadow: 0 4px 30px rgba(202, 198, 4, 0.708);
}
.profile-card-social__item.github {
    background: linear-gradient(45deg, #1769ff, #213fca);
    box-shadow: 0 4px 30px rgba(0, 119, 181, 0.7);
}
.profile-card-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.profile-card__button {
    border: 0;
    padding: 12px 25px;
    color: #fff;
    margin: 10px;
    border-radius: 100px;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    font-weight: 700;
    outline: 0;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
}

.profile-card__button--phone {
    background: linear-gradient(45deg, #005bf7, #2161f7);
    box-shadow: 0 4px 30px rgba(120, 64, 190, 0.6);
}
.profile-card__button--zalo {
    background: linear-gradient(45deg, #ff2846, #ff5966);
    box-shadow: 0 4px 30px rgba(120, 64, 190, 0.6);
}
.profile-card__button:hover {
    transform: translateY(-5px) scale(1.05);
}
.profile-card__button:hover:after {
    opacity: 1;
    transform: scale(1.05);
    transition: ease-in-out .1s;
}